/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-darkblue);
  --color-primary-variant: var(--color-pink);
  --color-accent: var(--color-yellow);
  --color-accent-variant: var(--color-blue);
  --color-aceent-variant2: var(--color-lightblue);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-pink: #FFA0EA;
  --color-darkblue: #212028;
  --color-lightyellow: #fffde7;
  --color-lightgray: #eaeaea;
  --color-black: #050a13;
  --color-yellow: #ffff00;
  --color-blue: #2196f3;
  --color-lightblue: #e3f2fd;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'ubuntu', sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
}

h1,h2,h3,h4,p,ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

/* Header */
.header {
    background-color: var(--color-primary-variant);
   
    display: flex;
    justify-content: space-between;
    align-items: center;

    top: 0;
    width: 100%;
    padding: 1rem 2rem;

}

.header__logo__img {
    width: 40%;
    height: 40%;
}

.header__menu {
    display: flex;
    gap: 5px;
}

.header__menu__item {
    padding: 8px;
    margin: 0 16px;
    font-size: x-large;
    font-weight: 500;
}

.header__menu__item:hover {
    border-bottom: 5px solid var(--color-text);
}

/* Home */
#home {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 5rem;
}

.home__avatar {
    padding: 0;
    width: 35%;
    height: 35%;
}

.home__title{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.home__title2 {
    font-size: 3rem;
    line-height: 4.5rem;
    margin-bottom: 4rem;
}

.home__title2--strong {
    color: var(--color-accent);
}

.home__title2--strong2 {
    border-bottom: 6px solid var(--color-accent);
    padding: 6px;
}

.home__contact {
    padding: 8px 16px;
    background-color: var(--color-accent-variant);
    padding: 1rem 1rem;
    border-radius: 5px;

    color: var(--color-text);
    font-weight: bold;
}

.home__contact:hover {
    background-color: var(--color-aceent-variant2);
    color: var(--color-primary);
}